html, body {
    height: 90%;
    margin: 0px;
}

#bodyTop {
    position: relative;
    //margin-top: 20px;
    width: 100%;
    height: 100%;
    background-image: url("../images/top.png");
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.topImage {
}

#bodyTop .popover {
}

.navbar-brand {
    //margin-top: -10px;
}

#mainContent {
    /*
    height: 100%;
    width: 100%;
    position: relative;
    */
    position: relative;
    top: 100px;
    height: 100%;
}

.modal-dialog {
    width: 100%;
    padding: 1px;
}

.modal-dialog-center {
    padding-top: 0px;
    margin-top: 20px;
}

.modal {
    //z-index: 9999;
}

.panel-toggle:after {
    font-family: 'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: inherit;
}

 .panel-toggle.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: inherit;
}

.jumbotron {
}

.profile .history td {
    font-size: 12pt;
    padding: 5px 5px;
}

/*
.thumb-image {
    height: 200px;
}
.thumb-image img {
    width: 100%;
    box-sizing: border-box;
}
.thumbnail {
    height: 400px;
}
*/
.thumbnail img {
    width: 100%;
}


///* ƒ}ƒ“ƒK */
////#page_comic #main {
////	display: none;
////}
////
////#page_comic #sideMenu {
////	position: absolute;
////	top: 0px;
////	z-index: 5;
////	/*
////	height: 720px;
////	width: 1280px;
////	*/
////	height: 100%;
////	width: 200px;
////	padding: 0px 0px 0px 5px;
////	/*
////	margin: auto;
////	*/
////	display: none;
////	/*
////	border-style: solid;
////	*/
////	border-width: 0px 1px 0px 0px;
////	border-color: #A6A6A6;
////	background: linear-gradient(-90deg,  #CACCC9, #F2F5F0);
////	opacity: 0.9;
////}
////
////#page_comic #sideMenu ul {
////	margin: 3px 0 0 1em;
////	padding: 0px;
////}
////
////#page_comic #sideMenu li {
////	list-style: none;
//	float: left;
//	width: 40px;
//	text-align: right;
//}
//
//#page_comic #sideMenu .title {
//	margin: 5px;
//}
//
//#page_comic #sideMenu .episode {
//}
//
//#page_comic #toggle {
//	position : absolute;
//	top : 5px;
//	right : 00px;
//	cursor : pointer;
//}

